*.vscode
*.o
*.d
*.a
*.so
*.log
*.cmd
*.o.cmd
*.pyc
*.sdk
*.code-workspace

Makefile.empty
MediaSDK.config

out/
install/
platform/kernel_headers/
platform/fsbl/
platform/opensbi/
platform/ramdisk/
platform/linux_5.10/
platform/u-boot-2021.10/
platform/third_party/
platform/alios/boards/
platform/alios/components/
platform/alios/host-tools/
platform/alios/solutions/cardv/yoc.*
platform/alios/solutions/cardv/.sconsign.dblite
platform/alios/solutions/cardv/generated/
platform/alios/solutions/cardv/cvi_board_memmap.ld
platform/alios/solutions/cardv/application/media/include/hal_screen.h
platform/alios/solutions/cardv/application/media/src/cvi_ahd_info.h
platform/alios/solutions/yoc/generated/
platform/alios/solutions/yoc/yoc.asm
platform/alios/solutions/yoc/yoc.bin
platform/alios/solutions/yoc/yoc.elf
platform/alios/solutions/yoc/yoc.map
platform/alios/solutions/yoc/yoc_sdk/
platform/alios/solutions/yoc/.sconsign.dblite
platform/alios/solutions/yoc/cvi_board_memmap.ld
platform/alios/solutions/cardv/yoc_lzma.bin
platform/alios/solutions/cardv/application/common/src/cvi_board_pinmux.c
platform/alios/solutions/yoc/package.yaml

cpsl/tpu/include/
cpsl/tpu/lib/
cpsl/isp/install/
cpsl/isp/middleware/
cpsl/mmf_type
lib_*
cvi_board_memmap.h
build/output
externals/*
!platform/alios/components/cvi_sensor
!externals/scripts
!externals/ext_patch
applications/dashcam/modules/media/include/bitmap.h
applications/tools/bmp2bitmap
applications/dashcam/modules/ui/*/*/res